/1.png
/2-1.png
/2-2.png
/287542304_1210593039790884_628881869628053975_n.jpg
/288136467_1164187377738820_6570741534594716697_n.jpg
/7Seg
/7Seg.rar
/9 დავალება.docx
/a.png
/as.png
/asd
/asd.png
/asd.rar
/asdf.png
/asdfg.png
/asdfgh.png
/asdfghj.png
/b6eb0b3b8b2c9925b2885cb91de477eb.jpg
/davaleba 3.docx
/Davaleba2
/Davaleba2-20220613T125251Z-001.zip
/desktop.ini
/FIG1-3.jpg
/firstTBC
/firstTBCApp
/ideaIU-2022.1.2.exe
/Inkedb6eb0b3b8b2c9925b2885cb91de477eb_LI.jpg
/ise.PNG
/kolinFirst
/kotlin-master
/kotlin-master.zip
/mexute_davaleba
/mexute_davaleba.rar
/New folder
/Questions
/shvid-segmenta.rar
/tbcandroid.txt
/VSCodeUserSetup-x64-1.68.1.exe
/~$krebuli-srulad(2004).pdf
/~$valeba 1.docx
/~$მართვის-სისტემები-ირმა-დავითაშვილი-ფინალური-გამოცდა-ვარინატი-II-საგანდავალიანებულთათვის-1.docx
/ვატო რუაძე, დავალება 10 (1).docx
/ვატო რუაძე, დავალება 10.docx
/რუაძე ვატო, 91.xlsx